<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assignment Detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>Assignment Detail</B></td>
            <td><B>End Date</B></td>
            <td><B>File</B></td>
            <td><B>Submit</B></td>
     <!--       <td><B>Area</B></td> -->

        </tr>
        </thead>
        <tbody>
        {% for Assignment in assignments %}
        <tr>
            <td>{{Assignment.information}}</td>
            <td>{{Assignment.end_date.year}}/{{Assignment.end_date.day}}/{{Assignment.end_date.month}}</td>
            <td>

            </td>
            <td><a href="/submit_assignmet">Submit</td></a>
      <!--       <td> <a href = "areas/{{Candidate.area}}/"> {{Candidate.area}}</a> </td> -->

        </tr>
        {%endfor%}
        <tbody>
    </table>

</body>
